{% extends "layout.html" %}

{% block page %}
<section class="mx-auto max-w-screen-lg px-4 py-8">
	<h1 class="text-4xl mb-4">{{ translations.contact.name[meta.locale] }}</h1>
	<p>
		<b>{{ translations.contact.email[meta.locale] }}:</b>
		<a
			class="hover:text-brand dark:hover:text-brand"
			x-data="{addr:'info#swiss-alternatives.ch'.replace('#','@')}"
			x-bind:href="`mailto:${addr}`"
			x-text="addr"
			rel="noopener nofollow"
			target="_blank"
		></a>
	</p>
</section>
{% endblock %}
