{% extends "layout.html" %}

{% block page %}
<section class="mx-auto max-w-screen-lg px-4 py-8">
	<h2 class="text-2xl mb-4">{{ translations.general.slogan[meta.locale] }}</h2>
	<p>Cooooool!</p>
</section>
{% endblock %}
