{% extends "layout.html" %}

{% block page %}
<section class="mx-auto max-w-screen-lg px-4 py-8">
	<h1 class="text-4xl">{{ translations.not_found.name[meta.locale] }}</h1>
	<p class="mt-4">{{ translations.not_found.text[meta.locale] }}</p>
	<h2 class="text-2xl mt-8">{{ translations.not_found.search_results[meta.locale] }}</h2>
	<p><mark>TODO</mark></p>
</section>
{% endblock %}
