{% extends "layout.html" %}

{% block page %}
{% let utm = "?utm_source=swiss-alternatives.ch&utm_medium=impress&utm_campaign=always_on" %}
<section class="mx-auto max-w-screen-lg px-4 py-8">
	<h1 class="text-4xl mb-4">{{ translations.privacy.name[meta.locale] }}</h1>
	<p class="mb-4">{{ translations.privacy.text[meta.locale] }}</p>
	<p>
		<b>{{ translations.privacy.contact[meta.locale] }}:</b>
		<a
			class="hover:text-brand dark:hover:text-brand"
			x-data="{addr:'info#swiss-alternatives.ch'.replace('#','@')}"
			x-bind:href="`mailto:${addr}`"
			x-text="addr"
			rel="noopener nofollow"
			target="_blank"
		></a>
	</p>
</section>
{% endblock %}
