<div class="grow shrink-0 basis-auto">
	<div class="flex print:hidden justify-center">
		<div class="hidden lg:flex justify-between px-4 py-2 grow max-w-screen-lg">
			<nav class="flex gap-3 items-center">
				{% for (locale, path) in meta.paths.values_filtered(meta.locale) %}
				<a
					href="{{ path }}"
					class="text-sm text-light hover:text-brand dark:hover:text-brand"
				>{{ locale }}</a>
				{% endfor %}
			</nav>
			<nav class="flex gap-4 items-center">
				{% let class = "text-sm text-light hover:text-brand dark:hover:text-brand" %}
				{% let locale = meta.locale.as_slug() %}

				{% let slug = translations.contact.slug[meta.locale] %}
				{% let text = translations.contact.name[meta.locale] %}
				<a href="/{{ locale }}/{{ slug }}" class="{{ class }}">{{ text }}</a>

				{% let slug = translations.privacy.slug[meta.locale] %}
				{% let text = translations.privacy.name[meta.locale] %}
				<a href="/{{ locale }}/{{ slug }}" class="{{ class }}">{{ text }}</a>

				{% let slug = translations.impress.slug[meta.locale] %}
				{% let text = translations.impress.name[meta.locale] %}
				<a href="/{{ locale }}/{{ slug }}" class="{{ class }}">{{ text }}</a>

				<a
					href="https://gitlab.com/abineo/swiss-alternatives.ch"
					class="{{ class }}"
					rel="noopener nofollow"
					target="_blank"
				>{{ translations.general.source_code[meta.locale] }}</a>
			</nav>
		</div>
	</div>
	<header class="flex justify-center sticky top-0 bg border-b">
		{% let base_url = format!("/{}", self.meta.locale.as_slug()) %}
		<nav class="grow max-w-screen-lg px-4">
			<div class="flex justify-between">
				<a href="{{ base_url }}" class="flex gap-2 lg:gap-3 items-center pt-1 sm:pt-0">
					<img
						class="h-12 sm:h-14 lg:h-16"
						src="/media/swiss-alternatives.ch/figurative.svg"
						alt="{{ translations.general.brand[meta.locale] }}"
					>
					<span
						class="text-alt font-bold leading-none text-2xl sm:text-3xl lg:text-4xl"
					>{{ translations.general.brand[meta.locale] }}</span>
				</a>
				<div class="hidden md:flex print:hidden gap-8 items-center">
					{% let class = "font-medium text-lg hover:text-brand dark:hover:text-brand py-2" %}
					{% let locale = meta.locale.as_slug() %}

					{% let slug = translations.category.slug_plural[meta.locale] %}
					{% let text = translations.category.plural[meta.locale] %}
					<a href="/{{ locale }}/{{ slug }}" class="{{ class }}">{{ text }}</a>
				</div>
			</div>
			<div class="flex md:hidden print:hidden justify-between">
				<div class="flex gap-8 items-center">
					{% let class = "font-medium text-lg hover:text-brand dark:hover:text-brand py-2" %}
					{% let locale = meta.locale.as_slug() %}

					{% let slug = translations.category.slug_plural[meta.locale] %}
					{% let text = translations.category.plural[meta.locale] %}
					<a href="/{{ locale }}/{{ slug }}" class="{{ class }}">{{ text }}</a>
				</div>
			</div>
		</nav>
	</header>
	<main x-init="title = '{{ meta.title }}'">
		{% block page %}{% endblock %}
	</main>
</div>
<footer class="print:hidden shrink-0 bg-light">
	<div class="mx-auto max-w-screen-lg px-4 py-8">
		<div class="flex flex-col md:flex-row items-start gap-8">
			<nav class="flex items-start flex-col grow shrink-0 basis-auto">
				<h3 class="font-semibold text-light">{{ translations.general.other_resources.name[meta.locale] }}</h3>
				{% for link in translations.general.other_resources.links %}
				{% let utm = "?utm_source=swiss-alternatives.ch&utm_medium=footer&utm_campaign=always_on" %}
				<a
					href="{{ link.path[meta.locale] }}{{ utm }}"
					class="text-sm text-light hover:text-brand dark:hover:text-brand"
					rel="noopener nofollow"
					target="_blank"
				>{{ link.label[meta.locale] }}</a>
				{% endfor %}
			</nav>
			<nav class="flex flex-col grow shrink-0 basis-auto">
				<h3 class="font-semibold text-light">{{ translations.general.about_us[meta.locale] }}</h3>
				{% let class = "text-sm text-light hover:text-brand dark:hover:text-brand" %}
				{% let locale = meta.locale.as_slug() %}

				{% let slug = translations.contact.slug[meta.locale] %}
				{% let text = translations.contact.name[meta.locale] %}
				<a href="/{{ locale }}/{{ slug }}" class="{{ class }}">{{ text }}</a>

				{% let slug = translations.privacy.slug[meta.locale] %}
				{% let text = translations.privacy.name[meta.locale] %}
				<a href="/{{ locale }}/{{ slug }}" class="{{ class }}">{{ text }}</a>

				{% let slug = translations.impress.slug[meta.locale] %}
				{% let text = translations.impress.name[meta.locale] %}
				<a href="/{{ locale }}/{{ slug }}" class="{{ class }}">{{ text }}</a>

				<a
					href="https://gitlab.com/abineo/swiss-alternatives.ch"
					class="{{ class }}"
					rel="noopener nofollow"
					target="_blank"
				>{{ translations.general.source_code[meta.locale] }}</a>
			</nav>
		</div>
		<nav class="flex flex-col sm:flex-row sm:gap-3 sm:items-center mt-8">
			{% for (locale, path) in meta.paths.values_filtered(meta.locale) %}
			<a
				href="{{ path }}"
				class="text-sm text-light hover:text-brand dark:hover:text-brand"
			>{{ locale }}</a>
			{% endfor %}
		</nav>
	</div>
</footer>
