{% extends "shell.html" %}

{% block opengraph %}
<meta property="og:image" content="{{ crate::ORIGIN }}/media/{{ product.logo }}">
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ created_at }}">
<meta property="article:modified_time" content="{{ updated_at }}">
{% endblock %}
