<!doctype html>
<html lang="{{ meta.locale.as_iso() }}" x-data="{title:'{{ meta.title }}'}">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="index, follow">
	<meta name="creator" content="Abineo" />
	<meta name="generator" content="Askama" />
	<meta name="monitoring" content="3c0abc091d73" />
	<meta name="generated_at" content="{{ crate::now() }}" />

	<title x-text="title">{{ meta.title }}</title>
	<meta name="description" content="{{ meta.description }}" />
	<link rel="canonical" href="{{ crate::ORIGIN }}{{ meta.canonical_path }}" />
	{% for (locale, path) in meta.paths.values() %}
	<link rel="alternate" href="{{ crate::ORIGIN }}{{ path }}" hreflang="{{ locale.as_iso() }}">
	{% endfor %}

	<link rel="shortcut icon" href="/media/swiss-alternatives.ch/figurative.svg" type="image/svg+xml">
	<meta name="theme-color" content="#f5f5f5" media="(prefers-color-scheme: light)">
	<meta name="theme-color" content="#1b1b1b" media="(prefers-color-scheme: dark)">

	<meta property="og:url" content="{{ crate::ORIGIN }}{{ meta.canonical_path }}">
	<meta property="og:title" content="{{ meta.title }}">
	<meta property="og:description" content="{{ meta.description }}">
	<meta property="og:site_name" content="swiss-alternatives.ch">
	<meta property="og:locale" content="{{ meta.locale.as_iso() }}">
	{% for (locale, path) in meta.paths.values() %}
	<meta property="og:locale:alternate" content="{{ locale.as_iso() }}">
	{% endfor %}

	{% block opengraph %}
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ crate::ORIGIN }}/media/swiss-alternatives.ch/logo.svg">
	<meta property="og:image:width" content="64">
	<meta property="og:image:height" content="64">
	{% endblock %}

	<link href="/opensearch.xml" rel="search" title="Swiss Alternatives Search" type="application/opensearchdescription+xml">
	<script src="/scripts/htmx.min.js"></script>
	<script src="/scripts/alpine.min.js" defer></script>
	<script src="https://ch.nilly.io/js/script.js" data-host="https://nilly.io" data-dnt="false" id="Ny64iO32gp" async defer></script>

	<style>
		{% include "styles/dist.css" %}
	</style>
</head>
<body class="bg text" hx-boost="true">
	<div class="flex min-h-dvh flex-col" hx-target="this">
		{{ inner|safe }}
	</div>
</body>
</html>
