@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--brand: oklch(58% 0.22 27);

		--text: oklch(24% 0 0);
		--text-soft: oklch(30% 0 0);
		--text-light: oklch(45% 0 0);
		--text-brand: oklch(56% 0.22 27);

		--surface: oklch(97% 0 0);
		--surface-light: oklch(95% 0 0);

		--border: oklch(90% 0 0);

		color-scheme: light dark;
		color: var(--text);
		background-color: var(--surface);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--brand: oklch(56% 0.2 27);

			--text: oklch(92% 0 0);
			--text-soft: oklch(98% 0 0);
			--text-light: oklch(65% 0 0);
			--text-brand: oklch(58% 0.2 27);

			--surface: oklch(22% 0 0);
			--surface-light: oklch(20% 0 0);

			--border: oklch(28% 0 0);
		}
	}

	::selection {
		color: white;
		background-color: var(--brand);
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: normal;
		font-weight: 100;
		font-display: swap;
		src: url(/fonts/euclid-flex/ultralight.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: italic;
		font-weight: 100;
		font-display: swap;
		src: url(/fonts/euclid-flex/ultralight-italic.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: normal;
		font-weight: 200;
		font-display: swap;
		src: url(/fonts/euclid-flex/thin.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: italic;
		font-weight: 200;
		font-display: swap;
		src: url(/fonts/euclid-flex/thin-italic.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/euclid-flex/light.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: italic;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/euclid-flex/light-italic.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/euclid-flex/regular.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: italic;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/euclid-flex/regular-italic.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/euclid-flex/medium.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: italic;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/euclid-flex/medium-italic.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/euclid-flex/semibold.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: italic;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/euclid-flex/semibold-italic.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/euclid-flex/bold.woff2) format("woff2");
	}

	@font-face {
		font-family: "Euclid Flex Web";
		font-style: italic;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/euclid-flex/bold-italic.woff2) format("woff2");
	}

	@font-face {
		font-family: "Cascadia Code";
		font-style: normal;
		size-adjust: 95%;
		font-display: swap;
		src: url("/fonts/cascadia-code/regular.woff2") format(woff2) tech(variations);
	}

	@font-face {
		font-family: "Cascadia Code";
		font-style: italic;
		size-adjust: 95%;
		font-display: swap;
		src: url("/fonts/cascadia-code/italic.woff2") format(woff2) tech(variations);
	}
}
